.social-box {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  margin-top: 16px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  display: flex;
  text-align: center;
  fill: #afb1b8;
  padding: auto;
  transition: fill var(--transition);
  .social-link:hover &,
  .social-link:focus & {
    fill: var(--begraut-ccolor);
  }
}
