:root {
  --accent-color: #2196f3;
  --title-text-color: #000000;
  --secondary-text-color: rgb(117, 117, 117);
  --begraut-ccolor: #ffffff;
  --basic-color-text: #212121;
  --team-background: #f5f4fa;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
